# *DATA SCIENCE / SECTION 1 / PROJECT*

# üèÜ ÌîÑÎ°úÏ†ùÌä∏ Î™©Ìëú


> Îã§Ïùå Î∂ÑÍ∏∞ ÏÑ§Í≥ÑÌï† Í≤åÏûÑ Î∂ÑÏÑù

#  üïπÔ∏è Data Description

*   `Name` : Í≤åÏûÑ Ïù¥Î¶Ñ
*   `Platform` : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶Ñ
*   `Year` : Í≤åÏûÑ Ï∂úÏãú Ïó∞ÎèÑ
*   `Genre` : Í≤åÏûÑÏùò Ïû•Î•¥
*   `Publisher` : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨
*   `NA_Sales` : Î∂ÅÎØ∏ÏßÄÏó≠ Ï∂úÍ≥†Îüâ
*   `EU_Sales` : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ
*   `JP_Sales` : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ
*   `Other_Sales `: Í∏∞ÌÉÄÏßÄÏó≠ Ï∂úÍ≥†Îüâ

#  Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù

## **1. Gathering Data**

In [3]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Îç∞Ïù¥ÌÑ∞ ÏóÖÎ°úÎìú
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (1).csv

In [9]:
#Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞
df_game = pd.read_csv('vgames2.csv')
df_game.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

## **2. EDA**

In [10]:
#Î∂àÌïÑÏöîÌïú Ìñâ Ï†úÍ±∞
df_game = df_game.iloc[:,1:]
df_game.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [12]:
#Í≤∞Ï∏°Ïπò, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ ÌôïÏù∏
#year, genre, publisherÏóê Í≤∞Ï∏°Ïπò Ï°¥Ïû¨ÌïòÍ≥†, Ï∂úÍ≥†ÎüâÍ≥º yearÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ Î≥ÄÍ≤Ω ÌïÑÏöî.

df_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB