# *DATA SCIENCE / SECTION 1 / PROJECT*

# üèÜ ÌîÑÎ°úÏ†ùÌä∏ Î™©Ìëú


> Îã§Ïùå Î∂ÑÍ∏∞ ÏÑ§Í≥ÑÌï† Í≤åÏûÑ Î∂ÑÏÑù

#  üïπÔ∏è Data Description

*   `Name` : Í≤åÏûÑ Ïù¥Î¶Ñ
*   `Platform` : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶Ñ
*   `Year` : Í≤åÏûÑ Ï∂úÏãú Ïó∞ÎèÑ
*   `Genre` : Í≤åÏûÑÏùò Ïû•Î•¥
*   `Publisher` : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨
*   `NA_Sales` : Î∂ÅÎØ∏ÏßÄÏó≠ Ï∂úÍ≥†Îüâ (Îã®ÏúÑ :Î∞±Îßå)
*   `EU_Sales` : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ (Îã®ÏúÑ :Î∞±Îßå)
*   `JP_Sales` : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ (Îã®ÏúÑ :Î∞±Îßå)
*   `Other_Sales `: Í∏∞ÌÉÄÏßÄÏó≠ Ï∂úÍ≥†Îüâ (Îã®ÏúÑ :Î∞±Îßå)

#  Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ

## **1. Gathering Data**

In [1122]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1123]:
#Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

## **2. EDA**

In [1124]:
#Î∂àÌïÑÏöîÌïú Ìñâ Ï†úÍ±∞
df = df.iloc[:,1:]
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [1125]:
#Í≤∞Ï∏°Ïπò, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ ÌôïÏù∏
#year, genre, publisherÏóê Í≤∞Ï∏°Ïπò Ï°¥Ïû¨ÌïòÍ≥†, Ï∂úÍ≥†ÎüâÍ≥º yearÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ Î≥ÄÍ≤Ω ÌïÑÏöî.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [1126]:
#Î∂ÑÏÑùÌïòÍ∏∞ ÏâΩÍ≤å Ïó∞ÎèÑ,Ïù¥Î¶ÑÏàúÏúºÎ°ú Ï†ïÎ†¨.
df.sort_values(by=['Year','Name'],ascending=False,inplace=True)

In [1127]:
#'Name'Ïù¥ Í≥†Ïú†ÌïúÏßÄ ÌôïÏù∏ÌïòÍ∏∞ ÏúÑÌï¥ Ïù¥Î¶ÑÏùò Ï§ëÎ≥µÏπòÏóê ÎåÄÌï¥ Ïù¥Î¶ÑÍ≥º Ïó∞ÎèÑÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨
#Í∞ôÏùÄ Ïù¥Î¶ÑÏù¥Ïñ¥ÎèÑ Ïó¨Îü¨ ÌîåÎû´ÌèºÏù¥ Ï°¥Ïû¨Ìï®.

df[df.duplicated(['Name'],keep=False)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10107,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0,0,0.03,0
15233,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0,0,0.01,0
14837,ZombiU,PS4,2016.0,Action,Ubisoft,0,0.04,0.01,0.01
11424,Zero Escape: Zero Time Dilemma,PSV,2016.0,Adventure,Aksys Games,0.03,0,0.02,0.01
13073,Zero Escape: Zero Time Dilemma,3DS,2016.0,Adventure,Aksys Games,0.04,0,0.01,0.01
...,...,...,...,...,...,...,...,...,...
10534,Backbreaker,X360,NaN,Sports,Unknown,0.17,0,0,0.01
7150,Aquaman: Battle for Atlantis,XB,NaN,Action,Unknown,0.01,0,0,0
10896,All-Star Baseball 2005,PS2,NaN,Sports,Unknown,0.16,0.12,0,0.04
14119,All-Star Baseball 2005,XB,NaN,Sports,Unknown,0.11,0.03,0,0.01
11641,AKB1/48: Idol to Guam de Koishitara...,X360,NaN,Misc,NaN,0,0,0.01,0

In [1128]:
df[df.duplicated(['Name','Platform'],keep=False)]

# Í∞ôÏùÄ Ïù¥Î¶ÑÏùò Í≤åÏûÑÏù¥Ïñ¥ÎèÑ Ï∂úÏãú ÎÖÑÎèÑÍ∞Ä Îã§Î•º Ïàò ÏûàÏùå. (ÏòàÎ•ºÎì§Î©¥ Ïû¨Ï∂úÏãú ÌïòÎäî Í≤ΩÏö∞)
#Í∑∏Ïóê Îî∞Îùº 'Year'ÏùÄ ÎåÄÏ≤¥Í∞Ä Î∂àÍ∞ÄÎä• ÌïòÎã§Í≥† ÌåêÎã®Îê®.
#Ï∂úÍ≥†ÎüâÏóê Îã®ÏúÑÍ∞Ä 'K'Ïù∏Í≤É Î∞úÍ≤¨

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1318,Need for Speed: Most Wanted,X360,2012.0,Racing,Electronic Arts,0.62,0.8,0.01,0.15
13808,Need for Speed: Most Wanted,PC,2012.0,Racing,Electronic Arts,0,0.06,0,0.02
7346,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,2.11,0.23,0,0.22
8717,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,0,0.01,0,0
15705,Sonic the Hedgehog,PS3,2006.0,Platform,Sega,0.41,0.07,0.04,0.66
2673,Need for Speed: Most Wanted,PC,2005.0,Racing,Electronic Arts,20K,0.23,0,0.05
12529,Need for Speed: Most Wanted,X360,2005.0,Racing,Electronic Arts,1,0.17,0.02,0.1
8055,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0
9184,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0
8651,Sonic the Hedgehog,PS3,NaN,Platform,NaN,0,0.48,0,0

In [1129]:
# Year Í≤∞Ï∏°ÏπòÎì§ Ï†úÍ±∞
df.dropna(subset=['Year'],inplace=True)

In [1130]:
#year Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Ï†ïÏàòÎ°ú Î∞îÍøîÏ£ºÍ∏∞.
df['Year']=df['Year'].astype(int)

In [1131]:
#'Year'Í∞Ä 1900ÎØ∏ÎßåÏù∏ Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú.
df= df[df['Year'] > 1900]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16227 entries, 6906 to 5723
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16227 non-null  object
 1   Platform     16227 non-null  object
 2   Year         16227 non-null  int64
 3   Genre        16177 non-null  object
 4   Publisher    16191 non-null  object
 5   NA_Sales     16227 non-null  object
 6   EU_Sales     16227 non-null  object
 7   JP_Sales     16227 non-null  object
 8   Other_Sales  16227 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.2+ MB

In [1132]:
#GenreÏùò Í≤∞Ï∏°ÏπòÏôÄ Í∞ôÏùÄ Í≤åÏûÑÏù¥Î¶ÑÏùò Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ Îã§Î•∏ Ïó¥Ïù¥ ÏûàÎäîÏßÄ ÌôïÏù∏
missing_G = df[df['Genre'].isnull()]

In [1133]:
yes_G = df.copy()                       #ÏõêÎûò Îç∞Ïù¥ÌÑ∞Î•º Î≥µÏÇ¨Ìï¥ÏÑú ÏÇ¨Ïö©
yes_G = yes_G.dropna(subset=['Genre']) # 'Genre'Í∞Ä nanÍ∞íÏù∏ ÌñâÎì§Îßå Ï†úÍ±∞!

#Í∏∞Ï°¥Îç∞Ïù¥ÌÑ∞Ïùò 'Name'Í≥º 'Genre'Í≤∞Ï∏°ÏπòÏùò 'Name'Ïù¥ Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏.
have_G = []

for data in yes_G['Name']:          
    if data in missing_G['Name']:
        have_G.append(data)
have_G

[]

In [1134]:
#GenreÍ≤∞Ï∏°ÏπòÎ•º ÎåÄÏ≤¥Ìï† Ïàò ÏóÜÏúºÎØÄÎ°ú Ï†ÑÎ∂Ä ÏÇ≠Ï†ú
df.dropna(subset=['Genre'],inplace=True)

In [1135]:
#Í∞ôÏùÄÎ∞©Î≤ïÏúºÎ°ú 'Publisher'ÌôïÏù∏ 
missing_P = df[df['Publisher'].isnull()]
yes_P = df.copy()                       #ÏõêÎûò Îç∞Ïù¥ÌÑ∞Î•º Î≥µÏÇ¨Ìï¥ÏÑú ÏÇ¨Ïö©
yes_P = yes_P.dropna(subset=['Publisher']) # 'Publisher'Í∞Ä nanÍ∞íÏù∏ ÌñâÎì§Îßå Ï†úÍ±∞!

#Í∏∞Ï°¥Îç∞Ïù¥ÌÑ∞Ïùò 'Name'Í≥º 'Publisher'Í≤∞Ï∏°ÏπòÏùò 'Name'Ïù¥ Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏.
have_P = []

for data in yes_P['Name']:           
    if data in missing_P['Name']:
        have_P.append(data)
have_P

[]

In [1136]:
df.isnull().sum() #Í≤∞Ï∏°Ïπò Í∞ØÏàòÍ∞Ä ÌÅ¨ÏßÄÏïäÍ∏∞ÎïåÎ¨∏Ïóê Ïù¥ ÎòêÌïú ÏÇ≠Ï†úÌïúÎã§.

Name            0
Platform        0
Year            0
Genre           0
Publisher      36
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
dtype: int64

In [1137]:
#Í≤∞Ï∏°Ïπò ÏÇ≠Ï†ú
df.dropna(inplace=True)

In [1138]:
#'Name','Platform','Year' Ïù¥ Í∞ôÏùÄ Ìï≠Î™© ÏÇ≠Ï†ú
df.drop_duplicates(['Name','Platform','Year'],keep=False,inplace=True)

In [1139]:
df.reset_index(drop=True,inplace=True)

In [1140]:
import re

def has_errors(inputString):
  return bool(re.search('[a-zA-Z]+', inputString))

error_condition = df.NA_Sales.apply(has_errors)|df.EU_Sales.apply(has_errors)|df.JP_Sales.apply(has_errors)|df.Other_Sales.apply(has_errors)
error= df[error_condition]
error

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Imagine: Makeup Artist,DS,2020,Simulation,Ubisoft,0.27,0K,0,0.02
37,Touhou Genso Rondo: Bullet Ballet,PS4,2016,Shooter,Nippon Ichi Software,0.01M,0,0,0
38,Total War: WARHAMMER,PC,2016,Strategy,Sega,0M,0.1,0,0.01
51,The Idolmaster: Platinum Stars,PS4,2016,Simulation,Namco Bandai Games,0M,0,0.09,0
84,Song of the Deep,PS4,2016,Action,Insomniac Games,0.05M,0,0,0.01
...,...,...,...,...,...,...,...,...,...
15993,Pro Yakyuu Family Stadium,NES,1986,Sports,Namco Bandai Games,0.15,0,2.05,0M
16010,Ice Climber,NES,1985,Platform,Nintendo,0.46M,0.1,0.92,0.02
16026,F1 Race,NES,1984,Racing,Nintendo,0,0,1.52,0K
16109,E.T.: The Extra Terrestrial,2600,1981,Action,Atari,1.84,110K,0,0.02
16135,Checkers,2600,1980,Misc,Atari,0.22,0.01,0,0K

In [1141]:
#Ï∂úÍ≥†ÎüâÏóê 'K'ÎÇò 'M'Îì± Î¨∏ÏûêÎ°ú Ïù¥Î£®Ïñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôòÌï¥Ï§å.
#'M'ÏùÄ ÏõêÎûò Îã®ÏúÑÏôÄ Í∞ôÏúºÎãà ÏßÄÏõåÏ£ºÍ≥†
# 'K'Ïù∏ Îç∞Ïù¥ÌÑ∞Îäî *0.001 ÏùÑ Ìï¥Ï§ÄÎã§.

columns= ['NA_Sales','EU_Sales','JP_Sales','Other_Sales']

for i in columns:
  df[i] =df[i].replace({"K":"*0.001", "M":""}, regex=True).map(pd.eval)

# Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù