# *DATA SCIENCE / SECTION 1 / PROJECT*

# üèÜ ÌîÑÎ°úÏ†ùÌä∏ Î™©Ìëú


> Îã§Ïùå Î∂ÑÍ∏∞ ÏÑ§Í≥ÑÌï† Í≤åÏûÑ Î∂ÑÏÑù

#  üïπÔ∏è Data Description

*   `Name` : Í≤åÏûÑ Ïù¥Î¶Ñ
*   `Platform` : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶Ñ
*   `Year` : Í≤åÏûÑ Ï∂úÏãú Ïó∞ÎèÑ
*   `Genre` : Í≤åÏûÑÏùò Ïû•Î•¥
*   `Publisher` : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨
*   `NA_Sales` : Î∂ÅÎØ∏ÏßÄÏó≠ Ï∂úÍ≥†Îüâ
*   `EU_Sales` : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ
*   `JP_Sales` : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†Îüâ
*   `Other_Sales `: Í∏∞ÌÉÄÏßÄÏó≠ Ï∂úÍ≥†Îüâ

#  Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù

## **1. Gathering Data**

In [ ]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

## **2. EDA**

In [ ]:
#Î∂àÌïÑÏöîÌïú Ìñâ Ï†úÍ±∞
df = df.iloc[:,1:]
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [ ]:
df[df.duplicated(['Name','Year'])] # Ï§ëÎ≥µÏπò ÌôïÏù∏

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
131,Call of Duty 4: Modern Warfare,PC,2007.0,Shooter,Activision,0,1.12,0,0.03
230,IL-2 Sturmovik: Birds of Prey,DS,2009.0,Simulation,505 Games,0.06,0,0,0
279,The Incredibles: Rise of the Underminer,XB,2005.0,Action,THQ,0.06,0.02,0,0
343,NBA 2K12,X360,2011.0,Sports,Take-Two Interactive,2.31,0.14,0.01,0.16
383,Madden NFL 07,GC,2006.0,Sports,Electronic Arts,0.48,0.13,0,0.02
...,...,...,...,...,...,...,...,...,...
16588,MindJack,PS3,2011.0,Shooter,Square Enix,0.07,0.08,0,0.03
16591,Madden NFL 2005,PS2,2004.0,Sports,Electronic Arts,4.18,0.26,0.01,80K
16593,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03

In [ ]:
condition = (df.Name == 'NBA 2K12')
df[condition]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
270,NBA 2K12,PSP,2011.0,Sports,Take-Two Interactive,0.22,0.03,0,0.03
343,NBA 2K12,X360,2011.0,Sports,Take-Two Interactive,2.31,0.14,0.01,0.16
6929,NBA 2K12,PS3,2011.0,Sports,Take-Two Interactive,1610K,0.27,0.05,0.18
9112,NBA 2K12,PC,2011.0,Sports,Take-Two Interactive,0.09,0.05,0,0.02
15533,NBA 2K12,Wii,2011.0,Sports,Take-Two Interactive,0.3,0.03,0,0.02

In [ ]:
#Í≤∞Ï∏°Ïπò, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ ÌôïÏù∏
#year, genre, publisherÏóê Í≤∞Ï∏°Ïπò Ï°¥Ïû¨ÌïòÍ≥†, Ï∂úÍ≥†ÎüâÍ≥º yearÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ Î≥ÄÍ≤Ω ÌïÑÏöî.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [ ]:
#yearÏùò Í≤∞Ï∏°Ïπò
df[df['Year'].isnull()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
109,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
273,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
358,Majesty 2: The Fantasy Kingdom Sim,X360,NaN,Simulation,Unknown,0.03,0,0,0
430,Famista 64,N64,NaN,Sports,Namco Bandai Games,0,0,0.17,0.03
...,...,...,...,...,...,...,...,...,...
16240,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0,0,0
16275,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0M,0.03
16278,Madden NFL 11,Wii,NaN,Sports,Unknown,0.7,0,0,50K
16425,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16432,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01

In [ ]:
#

In [ ]:
#yearÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ floatÏóêÏÑú int Î°ú Î∞îÍøîÏ£ºÍ∏∞
df['Year'] = df['Year'].apply(int)

ValueError: ignored