<a href="https://colab.research.google.com/github/sseyonafre/Project/blob/main/%08AI_14_%EA%B3%A0%EC%84%B8%ED%9D%AC_Section3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
from google.colab import files
uploaded = files.upload()

Saving user.csv to user (1).csv

In [116]:
df = pd.read_csv('user.csv',index_col = 0)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15318 entries, 0 to 15317
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                15318 non-null  int64
 1   ageClass          15318 non-null  int64
 2   ageDegree         15318 non-null  int64
 3   ageGbn            15318 non-null  object
 4   certGbn           15318 non-null  object
 5   height            15318 non-null  float64
 6   weight            15318 non-null  float64
 7   crunch            15318 non-null  object
 8   jump              15318 non-null  object
 9   trunkFlexion      15318 non-null  object
 10  IllinoisAgility   15318 non-null  object
 11  BMI               15318 non-null  float64
 12  situp             15318 non-null  object
 13  standinglongjump  15318 non-null  object
 14  standsit          15318 non-null  object
 15  twominwalk        15318 non-null  object
 16  threeMwalk        15318 non-null  object
 17  exercise          15318 non-null  object
 18  testYm            15318 non-null  int64
dtypes: float64(3), int64(4), object(12)
memory usage: 2.3+ MB

In [119]:
df.ageGbn.unique()

array(['노인', '성인', '유소년', '청소년'], dtype=object)

In [120]:
df1 = df.query("ageGbn=='노인'")

In [121]:
df2 = df.query("ageGbn=='성인'")

In [122]:
df3 = df.query("ageGbn=='유소년'")

In [123]:
df4 = df.query("ageGbn=='청소년'")

In [124]:
df.replace('-','',inplace=True)

In [125]:
df.certGbn.replace({'참가증':'4','1등급':'1','2등급':'2','3등급':'3'},inplace=True)

In [126]:
df1.info() #노인 554명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 0 to 15138
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                554 non-null    int64
 1   ageClass          554 non-null    int64
 2   ageDegree         554 non-null    int64
 3   ageGbn            554 non-null    object
 4   certGbn           554 non-null    object
 5   height            554 non-null    float64
 6   weight            554 non-null    float64
 7   crunch            554 non-null    object
 8   jump              554 non-null    object
 9   trunkFlexion      554 non-null    object
 10  IllinoisAgility   554 non-null    object
 11  BMI               554 non-null    float64
 12  situp             554 non-null    object
 13  standinglongjump  554 non-null    object
 14  standsit          554 non-null    object
 15  twominwalk        554 non-null    object
 16  threeMwalk        554 non-null    object
 17  exercise          554 non-null    object
 18  testYm            554 non-null    int64
dtypes: float64(3), int64(4), object(12)
memory usage: 86.6+ KB

In [127]:
df1.drop(columns=['crunch','jump','IllinoisAgility','situp','standinglongjump'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [128]:
df1.head()

,id,ageClass,ageDegree,ageGbn,certGbn,height,weight,trunkFlexion,BMI,standsit,twominwalk,threeMwalk,exercise,testYm
0,1,60,66,노인,2등급,163.6,64.1,12.0,23.9,23,115,5.062,"준비운동:누워서 전신 뻗기,어깨 뒤쪽 스트레칭,아래 팔 스트레칭,엉덩이 스트레칭,대...",201912
1,2,60,68,노인,참가증,168.6,72.4,1.5,25.5,29,112,5.48,"본운동:엉덩이 스트레칭,넙다리 뒤쪽 스트레칭,넙다리 앞쪽 스트레칭,넙다리 안쪽 스트...",201912
56,57,60,65,노인,참가증,167.8,57.6,17.1,20.5,22,96,5.63,"준비운동:고정식 트레드밀에서 걷기,스텝박스 오르내리기",202110
153,154,60,65,노인,2등급,168.8,57.4,12.8,20.1,29,120,4,"준비운동:달리기,실내 자전거타기",202110
430,431,70,72,노인,참가증,153.8,48.6,16.2,20.5,12,93,8.69,"준비운동:등/어깨 뒤쪽 스트레칭,어깨 뒤쪽 스트레칭,목 스트레칭 / 본운동:벽에서 ...",202112

In [129]:
df2.drop(columns=['crunch','jump','IllinoisAgility','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [130]:
df2.head()

,id,ageClass,ageDegree,ageGbn,certGbn,height,weight,trunkFlexion,BMI,situp,standinglongjump,exercise,testYm
2,3,20,25,성인,3등급,177.8,85.7,7.5,27.1,39,229,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
3,4,30,31,성인,참가증,174.3,86.9,9.9,28.6,41,223,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
4,5,20,28,성인,참가증,175.2,81.1,11.2,26.4,56,217,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
5,6,20,23,성인,참가증,181.7,79.4,0.2,24.0,41,231,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
6,7,30,31,성인,참가증,174.3,86.9,-,28.6,-,-,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012

In [131]:
df2.info() #성인 3205명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3205 entries, 2 to 15317
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3205 non-null   int64
 1   ageClass          3205 non-null   int64
 2   ageDegree         3205 non-null   int64
 3   ageGbn            3205 non-null   object
 4   certGbn           3205 non-null   object
 5   height            3205 non-null   float64
 6   weight            3205 non-null   float64
 7   trunkFlexion      3205 non-null   object
 8   BMI               3205 non-null   float64
 9   situp             3205 non-null   object
 10  standinglongjump  3205 non-null   object
 11  exercise          3205 non-null   object
 12  testYm            3205 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 350.5+ KB

In [132]:
df3.drop(columns=['jump','situp','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [133]:
df3.head()

,id,ageClass,ageDegree,ageGbn,certGbn,height,weight,crunch,trunkFlexion,IllinoisAgility,BMI,standinglongjump,exercise,testYm
8,9,10,11,유소년,참가증,154.8,36.2,14,8.5,-,15.1,135,"준비운동:벽패스,십(十)자 드리블,공 양손으로 주고 받기",202110
9,10,10,11,유소년,참가증,150.0,48.3,1,3.5,-,21.5,73,"준비운동:윗몸말아올리기,팔굽혀펴기,앉았다 일어서기,반복 옆뛰기,2단 줄넘기,벽잡고 ...",202110
11,12,10,11,유소년,참가증,146.5,45.0,11,18.0,-,21.0,154,"준비운동:1단 줄넘기,계단 오르기,왕복달리기,벽패스,십(十)자 드리블,공 양손으로 ...",202110
12,13,10,11,유소년,참가증,156.6,70.3,-,-1.0,-,28.7,125,"준비운동:윗몸말아올리기,팔굽혀펴기,다리 벌려 옆으로 상체 숙이기,발목 얹고 다리 잡...",202110
13,14,10,11,유소년,참가증,145.7,31.6,18,7.5,-,14.9,100,"준비운동:1단 줄넘기,계단 오르기,왕복달리기,반복 옆뛰기,잔발치기,벽패스,십(十)자...",202110

In [134]:
df3.info() #유소년 3080명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3080 entries, 8 to 15293
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3080 non-null   int64
 1   ageClass          3080 non-null   int64
 2   ageDegree         3080 non-null   int64
 3   ageGbn            3080 non-null   object
 4   certGbn           3080 non-null   object
 5   height            3080 non-null   float64
 6   weight            3080 non-null   float64
 7   crunch            3080 non-null   object
 8   trunkFlexion      3080 non-null   object
 9   IllinoisAgility   3080 non-null   object
 10  BMI               3080 non-null   float64
 11  standinglongjump  3080 non-null   object
 12  exercise          3080 non-null   object
 13  testYm            3080 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 360.9+ KB

In [135]:
df4.head()

,id,ageClass,ageDegree,ageGbn,certGbn,height,weight,crunch,jump,trunkFlexion,IllinoisAgility,BMI,situp,standinglongjump,standsit,twominwalk,threeMwalk,exercise,testYm
10,11,10,18,청소년,참가증,173.1,61.1,-,30,11.2,17.72,20.4,-,-,-,-,-,"준비운동:윗몸올리기 ,엎드려 버티기,앉았다 일어서기,버피운동,무릎 높여 제자리 달리...",202110
420,421,10,18,청소년,2등급,162.4,58.7,-,50,21.3,19.94,22.3,-,-,-,-,-,"준비운동:목 스트레칭,등/어깨 뒤쪽 스트레칭,상지 루틴 스트레칭,하지 루틴 스트레칭...",202112
423,424,10,13,청소년,참가증,150.2,61.7,-,34,21.2,23.53,27.3,-,175,-,-,-,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:달리기,줄넘기,수영,앉...",202112
424,425,10,13,청소년,참가증,161.1,38.6,-,29,9.0,22.47,14.9,-,140,-,-,-,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:달리기,줄넘기,수영,앉...",202112
425,426,10,13,청소년,참가증,149.8,52.5,-,12,5.3,25.5,23.4,-,111,-,-,-,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:달리기,줄넘기,수영,앉...",202112

In [136]:
df4.drop(columns=['crunch','situp','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
df4.info() #청소년 8479명.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8479 entries, 10 to 15314
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8479 non-null   int64
 1   ageClass          8479 non-null   int64
 2   ageDegree         8479 non-null   int64
 3   ageGbn            8479 non-null   object
 4   certGbn           8479 non-null   object
 5   height            8479 non-null   float64
 6   weight            8479 non-null   float64
 7   jump              8479 non-null   object
 8   trunkFlexion      8479 non-null   object
 9   IllinoisAgility   8479 non-null   object
 10  BMI               8479 non-null   float64
 11  standinglongjump  8479 non-null   object
 12  exercise          8479 non-null   object
 13  testYm            8479 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 993.6+ KB

In [138]:
df.to_csv('user.csv')

In [139]:
df.certGbn.unique()

array(['2', '4', '3', '1'], dtype=object)