<a href="https://colab.research.google.com/github/sseyonafre/Project/blob/main/AI_14_%EA%B3%A0%EC%84%B8%ED%9D%AC_Section3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [292]:
from google.colab import files
uploaded = files.upload()

Saving user1.csv to user1.csv

In [294]:
import pandas as pd
import numpy as np

In [295]:
df = pd.read_csv('user1.csv',index_col = 1)

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25317 entries, 1 to 25317
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        25317 non-null  int64
 1   ageClass          25317 non-null  int64
 2   ageDegree         25317 non-null  int64
 3   ageGbn            25317 non-null  object
 4   certGbn           25317 non-null  object
 5   height            25317 non-null  float64
 6   weight            25317 non-null  float64
 7   crunch            25317 non-null  object
 8   jump              25317 non-null  object
 9   trunkFlexion      25317 non-null  object
 10  IllinoisAgility   25317 non-null  object
 11  BMI               25317 non-null  float64
 12  situp             25317 non-null  object
 13  standinglongjump  25317 non-null  object
 14  standsit          25317 non-null  object
 15  twominwalk        25317 non-null  object
 16  threeMwalk        25317 non-null  object
 17  exercise          25317 non-null  object
 18  testYm            25317 non-null  int64
dtypes: float64(3), int64(4), object(12)
memory usage: 3.9+ MB

In [297]:
df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [298]:
df.duplicated().sum()

10005

In [299]:
df.drop_duplicates(keep='first', inplace=True)

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15312 entries, 1 to 15318
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ageClass          15312 non-null  int64
 1   ageDegree         15312 non-null  int64
 2   ageGbn            15312 non-null  object
 3   certGbn           15312 non-null  object
 4   height            15312 non-null  float64
 5   weight            15312 non-null  float64
 6   crunch            15312 non-null  object
 7   jump              15312 non-null  object
 8   trunkFlexion      15312 non-null  object
 9   IllinoisAgility   15312 non-null  object
 10  BMI               15312 non-null  float64
 11  situp             15312 non-null  object
 12  standinglongjump  15312 non-null  object
 13  standsit          15312 non-null  object
 14  twominwalk        15312 non-null  object
 15  threeMwalk        15312 non-null  object
 16  exercise          15312 non-null  object
 17  testYm            15312 non-null  int64
dtypes: float64(3), int64(3), object(12)
memory usage: 2.2+ MB

In [301]:
df.ageGbn.unique()

array(['노인', '성인', '유소년', '청소년'], dtype=object)

In [334]:
for i in ['situp','standinglongjump','standsit','twominwalk','threeMwalk']:
  df[i]= df[i].astype(float)

In [338]:
df.certGbn.replace({'참가증':'4','1등급':'1','2등급':'2','3등급':'3'},inplace=True)
df1 = df.query("ageGbn=='노인'")
df2 = df.query("ageGbn=='성인'")
df3 = df.query("ageGbn=='유소년'")
df4 = df.query("ageGbn=='청소년'")

In [339]:
df.replace('-',np.nan,inplace=True)

In [340]:
df1.info() #노인 554명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 1 to 15139
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ageClass          554 non-null    int64
 1   ageDegree         554 non-null    int64
 2   ageGbn            554 non-null    object
 3   certGbn           554 non-null    object
 4   height            554 non-null    float64
 5   weight            554 non-null    float64
 6   crunch            0 non-null      object
 7   jump              0 non-null      object
 8   trunkFlexion      546 non-null    object
 9   IllinoisAgility   0 non-null      object
 10  BMI               554 non-null    float64
 11  situp             0 non-null      float64
 12  standinglongjump  0 non-null      float64
 13  standsit          550 non-null    float64
 14  twominwalk        546 non-null    float64
 15  threeMwalk        554 non-null    float64
 16  exercise          554 non-null    object
 17  testYm            554 non-null    int64
dtypes: float64(8), int64(3), object(7)
memory usage: 82.2+ KB

In [341]:
df1.drop(columns=['crunch','jump','IllinoisAgility','situp','standinglongjump'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [342]:
df1.head()

,ageClass,ageDegree,ageGbn,certGbn,height,weight,trunkFlexion,BMI,standsit,twominwalk,threeMwalk,exercise,testYm
id,,,,,,,,,,,,,
1,60,66,노인,2,163.6,64.1,12.0,23.9,23.0,115.0,5.062,"준비운동:누워서 전신 뻗기,어깨 뒤쪽 스트레칭,아래 팔 스트레칭,엉덩이 스트레칭,대...",201912
2,60,68,노인,4,168.6,72.4,1.5,25.5,29.0,112.0,5.480,"본운동:엉덩이 스트레칭,넙다리 뒤쪽 스트레칭,넙다리 앞쪽 스트레칭,넙다리 안쪽 스트...",201912
57,60,65,노인,4,167.8,57.6,17.1,20.5,22.0,96.0,5.630,"준비운동:고정식 트레드밀에서 걷기,스텝박스 오르내리기",202110
154,60,65,노인,2,168.8,57.4,12.8,20.1,29.0,120.0,4.000,"준비운동:달리기,실내 자전거타기",202110
431,70,72,노인,4,153.8,48.6,16.2,20.5,12.0,93.0,8.690,"준비운동:등/어깨 뒤쪽 스트레칭,어깨 뒤쪽 스트레칭,목 스트레칭 / 본운동:벽에서 ...",202112

In [343]:
df2.drop(columns=['crunch','jump','IllinoisAgility','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [344]:
df2.head()

,ageClass,ageDegree,ageGbn,certGbn,height,weight,trunkFlexion,BMI,situp,standinglongjump,exercise,testYm
id,,,,,,,,,,,,
3,20,25,성인,3,177.8,85.7,7.5,27.1,39.0,229.0,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
4,30,31,성인,4,174.3,86.9,9.9,28.6,41.0,223.0,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
5,20,28,성인,4,175.2,81.1,11.2,26.4,56.0,217.0,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
6,20,23,성인,4,181.7,79.4,0.2,24.0,41.0,231.0,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012
7,30,31,성인,4,174.3,86.9,NaN,28.6,NaN,NaN,"준비운동:상지 루틴 스트레칭,하지 루틴 스트레칭1 / 본운동:버피운동,무릎 높여 제...",202012

In [345]:
df2.exercise.nunique()

625

In [346]:
df2.info() #성인 3205명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3205 entries, 3 to 15318
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ageClass          3205 non-null   int64
 1   ageDegree         3205 non-null   int64
 2   ageGbn            3205 non-null   object
 3   certGbn           3205 non-null   object
 4   height            3205 non-null   float64
 5   weight            3205 non-null   float64
 6   trunkFlexion      3195 non-null   object
 7   BMI               3205 non-null   float64
 8   situp             3175 non-null   float64
 9   standinglongjump  2261 non-null   float64
 10  exercise          3205 non-null   object
 11  testYm            3205 non-null   int64
dtypes: float64(5), int64(3), object(4)
memory usage: 325.5+ KB

In [347]:
df3.drop(columns=['jump','situp','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [348]:
df3.head()

,ageClass,ageDegree,ageGbn,certGbn,height,weight,crunch,trunkFlexion,IllinoisAgility,BMI,standinglongjump,exercise,testYm
id,,,,,,,,,,,,,
9,10,11,유소년,4,154.8,36.2,14,8.5,NaN,15.1,135.0,"준비운동:벽패스,십(十)자 드리블,공 양손으로 주고 받기",202110
10,10,11,유소년,4,150.0,48.3,1,3.5,NaN,21.5,73.0,"준비운동:윗몸말아올리기,팔굽혀펴기,앉았다 일어서기,반복 옆뛰기,2단 줄넘기,벽잡고 ...",202110
12,10,11,유소년,4,146.5,45.0,11,18.0,NaN,21.0,154.0,"준비운동:1단 줄넘기,계단 오르기,왕복달리기,벽패스,십(十)자 드리블,공 양손으로 ...",202110
13,10,11,유소년,4,156.6,70.3,NaN,-1.0,NaN,28.7,125.0,"준비운동:윗몸말아올리기,팔굽혀펴기,다리 벌려 옆으로 상체 숙이기,발목 얹고 다리 잡...",202110
14,10,11,유소년,4,145.7,31.6,18,7.5,NaN,14.9,100.0,"준비운동:1단 줄넘기,계단 오르기,왕복달리기,반복 옆뛰기,잔발치기,벽패스,십(十)자...",202110

In [349]:
df3.exercise.nunique()

453

In [350]:
df3.info() #유소년 3080명

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3076 entries, 9 to 15294
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ageClass          3076 non-null   int64
 1   ageDegree         3076 non-null   int64
 2   ageGbn            3076 non-null   object
 3   certGbn           3076 non-null   object
 4   height            3076 non-null   float64
 5   weight            3076 non-null   float64
 6   crunch            3066 non-null   object
 7   trunkFlexion      3071 non-null   object
 8   IllinoisAgility   0 non-null      object
 9   BMI               3076 non-null   float64
 10  standinglongjump  3060 non-null   float64
 11  exercise          3076 non-null   object
 12  testYm            3076 non-null   int64
dtypes: float64(4), int64(3), object(6)
memory usage: 336.4+ KB

In [351]:
df4.drop(columns=['crunch','situp','standsit','twominwalk','threeMwalk'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [352]:
df4.exercise.nunique()

918

In [353]:
df4.info() #청소년 8479명.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8477 entries, 11 to 15315
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ageClass          8477 non-null   int64
 1   ageDegree         8477 non-null   int64
 2   ageGbn            8477 non-null   object
 3   certGbn           8477 non-null   object
 4   height            8477 non-null   float64
 5   weight            8477 non-null   float64
 6   jump              4744 non-null   object
 7   trunkFlexion      8463 non-null   object
 8   IllinoisAgility   8059 non-null   object
 9   BMI               8477 non-null   float64
 10  standinglongjump  5465 non-null   float64
 11  exercise          8477 non-null   object
 12  testYm            8477 non-null   int64
dtypes: float64(4), int64(3), object(6)
memory usage: 927.2+ KB

In [354]:
df.to_csv('user.csv')

In [355]:
df.certGbn.unique()

array(['2', '4', '3', '1'], dtype=object)

In [356]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 1 to 15139
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ageClass      554 non-null    int64
 1   ageDegree     554 non-null    int64
 2   ageGbn        554 non-null    object
 3   certGbn       554 non-null    object
 4   height        554 non-null    float64
 5   weight        554 non-null    float64
 6   trunkFlexion  546 non-null    object
 7   BMI           554 non-null    float64
 8   standsit      550 non-null    float64
 9   twominwalk    546 non-null    float64
 10  threeMwalk    554 non-null    float64
 11  exercise      554 non-null    object
 12  testYm        554 non-null    int64
dtypes: float64(6), int64(3), object(4)
memory usage: 60.6+ KB

# **모델링**
> ## 나이구분에 따라 검사항목이 다르기 때문에 모델을 나이구분별로 만들어 준다.
### 1. 노인층 모델링
> 기준모델

In [357]:
#노인층의 모델.

In [376]:
#train, test 셋으로 분리 , target 설정.
from sklearn.model_selection import train_test_split
target = 'certGbn'

train, test = train_test_split(df1, train_size=0.80, test_size=0.20, 
                              stratify=df1[target1], random_state=2)
features1 = df1.drop(columns=['certGbn','exercise','testYm','ageGbn']).columns

X_train1 = train[features1]
y_train1 = train[target]
X_test1 = test[features1]
y_test1 = test[target]

In [377]:
#기준모델 
y_train1.value_counts(normalize=True) #불균형. 다중분류.

4    0.539503
3    0.209932
2    0.182844
1    0.067720
Name: certGbn, dtype: float64

In [378]:
#기준모델을 타겟의 최빈값으로 설정.
baseline1 = y_train1.mode()

In [379]:
#기준모델의 정확도를 구해보자.
from sklearn.metrics import accuracy_score
y_pred = [baseline1] * len(y_test1)
print("기준모델 정확도: ", accuracy_score(y_test1, y_pred))

기준모델 정확도:  0.5405405405405406

> 로지스틱회귀모델

In [397]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
#로지스틱회귀모델을 만들어 교차검증을 수행. #베이지안최적화를 사용해서 최적의 파라미터 찾아보자.

pipe1_lr = make_pipeline(
    SimpleImputer(), 
    StandardScaler(),

    LogisticRegression(n_jobs=-1)
)

k = 5

scores = cross_val_score(pipe1_lr, X_train1, y_train1, cv=k, scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.71166156 0.6990203  0.63592587 0.6282492  0.71689419]
교차검증 f1 평균: 0.6783502236628092

> 랜덤포레스트모델

In [396]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

pipe1_rfc = make_pipeline(
    SimpleImputer(), 
    RandomForestClassifier(n_estimators=100, random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe1_rfc, X_train1, y_train1, cv=k, scoring='f1_weighted') #다중분류에서 f1score 사용하려면 weighted
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.66001786 0.67351525 0.6713029  0.67623248 0.6945366 ]
교차검증 f1 평균: 0.675121015442505

> XGBoost모델

In [395]:
from xgboost import XGBClassifier
pipe1_xg = make_pipeline(
    SimpleImputer(), 
    XGBClassifier(random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe1_xg, X_train1, y_train1, cv=k, 
                         scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.81649732 0.66315015 0.69207608 0.71975095 0.78686929]
교차검증 f1 평균: 0.7356687579782959

### 2. 성인층 모델링
> 기준모델

In [386]:
#train, test 셋으로 분리 , target 설정.
from sklearn.model_selection import train_test_split

train, test = train_test_split(df2, train_size=0.80, test_size=0.20, 
                              stratify=df2[target], random_state=2)
features2 = df2.drop(columns=['certGbn','exercise','testYm','ageGbn']).columns

X_train2 = train[features2]
y_train2 = train[target]
X_test2 = test[features2]
y_test2 = test[target]

In [387]:
#기준모델 
y_train2.value_counts(normalize=True) #불균형. 다중분류.

4    0.519111
3    0.208268
2    0.186427
1    0.086193
Name: certGbn, dtype: float64

In [388]:
#기준모델을 타겟의 최빈값으로 설정.
baseline2 = y_train2.mode()
y_pred = [baseline2] * len(y_test2)
print("기준모델 정확도: ", accuracy_score(y_test2, y_pred))

기준모델 정확도:  0.5195007800312013

> 로지스틱회귀모델

In [393]:
pipe2_lr = make_pipeline(
    SimpleImputer(), 
    StandardScaler(),

    LogisticRegression(n_jobs=-1)
)

k = 5

scores = cross_val_score(pipe2_lr, X_train2, y_train2, cv=k, scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.63215804 0.65909856 0.65152589 0.63362037 0.65374791]
교차검증 f1 평균: 0.6460301523670579

> 랜덤포레스트모델

In [392]:
pipe2_rfc = make_pipeline(
    SimpleImputer(), 
    RandomForestClassifier(n_estimators=100, random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe2_rfc, X_train2, y_train2, cv=k, scoring='f1_weighted') #다중분류에서 f1score 사용하려면 weighted
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.73515494 0.76101778 0.70984374 0.68029178 0.73338485]
교차검증 f1 평균: 0.7239386173061971

> XGBoost모델

In [394]:
pipe2_xg = make_pipeline(
    SimpleImputer(), 
    XGBClassifier(random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe2_xg, X_train2, y_train2, cv=k, 
                         scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.74094186 0.75157466 0.69427815 0.69124133 0.74845691]
교차검증 f1 평균: 0.7252985837606745

### 3. 유소년 모델링
> 기준모델

In [398]:
#train, test 셋으로 분리 , target 설정.
train, test = train_test_split(df3, train_size=0.80, test_size=0.20, 
                              stratify=df3[target], random_state=2)
features3 = df3.drop(columns=['certGbn','exercise','testYm','ageGbn']).columns

X_train3 = train[features3]
y_train3 = train[target]
X_test3 = test[features3]
y_test3 = test[target]

y_train3.value_counts(normalize=True)

baseline3 = y_train3.mode()
y_pred = [baseline3] * len(y_test3)
print("기준모델 정확도: ", accuracy_score(y_test3, y_pred))

기준모델 정확도:  0.7662337662337663

> 로지스틱회귀모델

In [399]:
pipe3_lr = make_pipeline(
    SimpleImputer(), 
    StandardScaler(),

    LogisticRegression(n_jobs=-1)
)

k = 5

scores = cross_val_score(pipe3_lr, X_train3, y_train3, cv=k, scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.72533878 0.72811088 0.75015845 0.71917467 0.7237942 ]
교차검증 f1 평균: 0.7293153956828793

> 랜덤포레스트모델

In [400]:
pipe3_rfc = make_pipeline(
    SimpleImputer(), 
    RandomForestClassifier(n_estimators=100, random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe3_rfc, X_train3, y_train3, cv=k, scoring='f1_weighted') #다중분류에서 f1score 사용하려면 weighted
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.82574584 0.80756332 0.82372329 0.80589826 0.78731095]
교차검증 f1 평균: 0.8100483320883903

> XGBoost모델

In [401]:
pipe3_xg = make_pipeline(
    SimpleImputer(), 
    XGBClassifier(random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe3_xg, X_train3, y_train3, cv=k, 
                         scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.82420439 0.82751193 0.83766176 0.80734666 0.83019189]
교차검증 f1 평균: 0.8253833246659589

###4. 청소년 모델링
> 기준모델

In [402]:

train, test = train_test_split(df4, train_size=0.80, test_size=0.20, 
                              stratify=df4[target], random_state=2)
features4 = df4.drop(columns=['certGbn','exercise','testYm','ageGbn']).columns

X_train4 = train[features4]
y_train4 = train[target]
X_test4 = test[features4]
y_test4 = test[target]

y_train4.value_counts(normalize=True)

baseline4 = y_train4.mode()
y_pred = [baseline4] * len(y_test4)
print("기준모델 정확도: ", accuracy_score(y_test4, y_pred))

기준모델 정확도:  0.6786556603773585

> 로지스틱회귀모델

In [403]:
pipe4_lr = make_pipeline(
    SimpleImputer(), 
    StandardScaler(),

    LogisticRegression(n_jobs=-1)
)

k = 5

scores = cross_val_score(pipe4_lr, X_train4, y_train4, cv=k, scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.64451804 0.64640353 0.64179533 0.64843367 0.61796486]
교차검증 f1 평균: 0.63982308756246

> 랜덤포레스트모델

In [404]:
pipe4_rfc = make_pipeline(
    SimpleImputer(), 
    RandomForestClassifier(n_estimators=100, random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe4_rfc, X_train4, y_train4, cv=k, scoring='f1_weighted') #다중분류에서 f1score 사용하려면 weighted
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.74467375 0.74647647 0.7433279  0.73286115 0.71733893]
교차검증 f1 평균: 0.7369356383949911

> XGBoost모델

In [405]:
pipe4_xg = make_pipeline(
    SimpleImputer(), 
    XGBClassifier(random_state=2, n_jobs=-1)
)


k = 5

scores = cross_val_score(pipe4_xg, X_train4, y_train4, cv=k, 
                         scoring='f1_weighted')
print(f'f1 for {k} folds:', scores)
print(f'교차검증 f1 평균:',scores.mean())

f1 for 5 folds: [0.71948866 0.72393508 0.71866612 0.72611267 0.72132139]
교차검증 f1 평균: 0.7219047845818647

## 청소년모델을 제외한 나머지는 xgboost로 청소년은 랜덤포레스트로 결정.

In [ ]:
# 해당모델들을 피클라이브러리를 이용하여 피클파일로 저장.

In [406]:
import pickle 
with open('senior.pickle','wb') as fw:
    pickle.dump(pipe1_xg, fw)

In [407]:
with open('middle.pickle','wb') as fw:
    pickle.dump(pipe2_xg, fw)

In [408]:
with open('underaged.pickle','wb') as fw:
    pickle.dump(pipe3_xg, fw)

In [409]:
with open('youth.pickle','wb') as fw:
    pickle.dump(pipe4_rfc, fw)