<a href="https://colab.research.google.com/github/sseyonafre/Project/blob/main/sprint2/AI_14_%E1%84%80%E1%85%A9%E1%84%89%E1%85%A6%E1%84%92%E1%85%B4_Section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *DATA SCIENCE / SECTION 2 / PROJECT*

#  🏆 프로젝트 목표
>### kbo 승패예측 모델을 만들고 그 모델을 통해서 2022시즌 순위를 예측해본다.

## 프로젝트 개요
1. 문제정의 

>2022년 7월 22일 현재 시즌 전반기가 끝난상황, 모든 팀의 최소목표는 포스트시즌 진출(5위)이다. 
>
>전체 경기의 60%정도 진행된 상황에서 결과를 예측해보고 이에따라 하반기 팀의 전체적인 운용 방향이 크게 달라질 수 있다.
>
>현재 가을야구진출이 불투명한 상황. 확실한 가을야구 진출을 위해서 우리가 해야할것이 무엇인지 알아보려한다.

2. 프로젝트의 전체적인 순서계획.
> 시즌 순위를 예측하기 위해서 '연'(year)단위 즉, 해당시즌 팀타격기록으로 순위를 예측하면 좋겠지만 데이터의 크기가 너무 작기때문에 매 경기단위로 데이터를 쪼개서 승패여부를 판별한 후, 예측된 승패로 계산된 승률을 토대로 순위 도출.

3. 타겟정하기 
>승리여부 (승리:1, 패:0) -> **분류**
>
>기준모델 : 타겟의 최빈값 -> 0
>
>승리여부와 관계있는 특성은 아무래도 타격은 장타율, 출루율, 투수는 방어율

#  ⚾️ Data Description
* `game_id` : 경기날짜 + 홈팀+ 원정팀 + 더블헤더유무
* `date`: 경기날짜
* `team` : 팀이름
* `vs` : 상대팀
* `home` : 홈경기 여부
* `PA` : 타석수
* `AB `: 타수 (타석에서 희생타, 볼넷, 몸맞는공 등을 제외)
* `RBI`: 타점 (Run Batted In)
* `RUN` : 득점 
* `HIT `: 총 안타수
* `H2`: 2루타
* `H3`: 3루타
* `HR`: 홈런
* `SB`: 도루성공
* `CS`: 도루실패 
* `SF`: 희생플라이
* `BB` : 볼넷
* `HP `: 몸에 맞는 공 ( hit by pitch)
* `K `: 삼진당한 횟수
* `GD`: 더블플레이 (병살당한 횟수)
* `LOB` : 잔루 (left on base)
* `RISP`: 득점권 타율
* `P_AB_CN `: 득점권 상황
* `P_HIT_CN `: 득점권 상황에서의 안타갯수
* `OBP `: 출루율 (on base rate)
* `avg` : 타율 
* `win `: 승리

#  데이터 탐색

## **1. Gathering Data**

In [1]:
#https://www.kaggle.com/datasets/park123/korea-baseball-datasetkbo-20152020
#여기서 2015~2020년까지의 데이터 수집한 후
#2021,22년의 데이터는 캐글에 올려진 깃헙에서 연도만 바꿔서 추가수집.

In [4]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving baseball.csv to baseball (1).csv

In [3]:
#n233a 에서 2015년부터 2022년 까지 데이터를 전부 concat으로 합쳐서 하나의 데이터셋으로 만듦.

## **2. 데이터 탐색 및 정제**

In [5]:
df = pd.read_csv('baseball.csv',index_col=0)
df.head()

,game_id,date,team,vs,home,PA,AB,RBI,RUN,HIT,...,HP,K,GD,LOB,RISP,P_AB_CN,P_HIT_CN,OBP,avg,win
0,20150328HHNE0,20150328,한화,넥센,T,54.0,42.0,4.0,4.0,10.0,...,1.0,7.0,0.0,24.0,0.133333,15,2,0.352941,0.238095,0.0
1,20150328NEHH0,20150328,넥센,한화,B,46.0,40.0,5.0,5.0,8.0,...,0.0,7.0,1.0,18.0,0.090909,11,1,0.304348,0.200000,1.0
2,20150328KTLT0,20150328,KT,롯데,T,46.0,35.0,8.0,9.0,14.0,...,1.0,8.0,1.0,23.0,0.285714,14,4,0.511111,0.400000,0.0
3,20150328LTKT0,20150328,롯데,KT,B,42.0,37.0,12.0,12.0,14.0,...,1.0,8.0,1.0,17.0,0.437500,16,7,0.439024,0.378378,1.0
4,20150328LGHT0,20150328,LG,KIA,T,34.0,29.0,1.0,1.0,7.0,...,0.0,6.0,2.0,17.0,0.200000,10,2,0.333333,0.241379,0.0

In [6]:
df.columns

Index(['game_id', 'date', 'team', 'vs', 'home', 'PA', 'AB', 'RBI', 'RUN',
       'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SF', 'BB', 'HP', 'K', 'GD', 'LOB',
       'RISP', 'P_AB_CN', 'P_HIT_CN', 'OBP', 'avg', 'win'],
      dtype='object')

In [6]:
#n233a 에서 컬럼이름도 수정하고, 팀이름도 수정하고 필요없는 컬럼 드랍까지 완료한 데이터셋임.

#Feature Engineering

In [7]:
#n233a 에서 game_id를 새로 만듦. 
#원래는 날짜+홈팀+원정팀+더블헤더유무여서, 기아와 삼성의 게임이면 기아기준 row 와 삼성기준row 의 gameid가 같아버림.
#그래서 날짜+팀+상대팀+더블헤더유무 로 바꿈.

In [80]:
def eda_process(df):
    #안타율은 2루타, 3루타 홈런에 대한 가중치가 없으니까 가중치를 줘서 장타율을 만들자.
    #총 밟은 베이스 수로 가중치를 주면 됨. 그래서 hit + h2 + 2*h3 +3*hr /AB 로 구함.
    df['SLG'] = (df['HIT']+ df['H2']+ df['H3']*2 + df['HR']*3) /df['AB']
    #OPS: 출루율과 장타율을 더해줌 -> 공격기여를 한번에 확인할 수 있는 가장 유명한 지표.
    df['OPS']= df['OBP']+df['SLG']
    df['win']=df['win'].replace(0.5,0)
    df['home']=df['home'].replace({'T':1,'B':0})    #무승부를 패로 처리
    df.drop(columns=['P_AB_CN','P_HIT_CN','date'],inplace=True)
    return df

In [78]:
df = eda_process(df)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10942 entries, 0 to 10941
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   game_id   10942 non-null  object
 1   date      10942 non-null  int64
 2   team      10942 non-null  object
 3   vs        10942 non-null  object
 4   home      10942 non-null  object
 5   PA        10942 non-null  float64
 6   AB        10942 non-null  float64
 7   RBI       10942 non-null  float64
 8   RUN       10942 non-null  float64
 9   HIT       10942 non-null  float64
 10  H2        10942 non-null  int64
 11  H3        10942 non-null  int64
 12  HR        10942 non-null  float64
 13  SB        10942 non-null  int64
 14  CS        10942 non-null  int64
 15  SF        10942 non-null  int64
 16  BB        10942 non-null  float64
 17  HP        10942 non-null  float64
 18  K         10942 non-null  float64
 19  GD        10942 non-null  float64
 20  LOB       10942 non-null  float64
 21  RISP      10942 non-null  float64
 22  P_AB_CN   10942 non-null  int64
 23  P_HIT_CN  10942 non-null  int64
 24  OBP       10942 non-null  float64
 25  avg       10942 non-null  float64
 26  win       10942 non-null  float64
dtypes: float64(15), int64(8), object(4)
memory usage: 2.3+ MB

In [79]:
df.head()

,game_id,date,team,vs,home,PA,AB,RBI,RUN,HIT,...,HP,K,GD,LOB,RISP,OBP,avg,win,SLG,OPS
0,20150328HHNE0,20150328,한화,넥센,1,54.0,42.0,4.0,4.0,10.0,...,1.0,7.0,0.0,24.0,0.133333,0.352941,0.238095,0.0,0.333333,0.686275
1,20150328NEHH0,20150328,넥센,한화,0,46.0,40.0,5.0,5.0,8.0,...,0.0,7.0,1.0,18.0,0.090909,0.304348,0.200000,1.0,0.450000,0.754348
2,20150328KTLT0,20150328,KT,롯데,1,46.0,35.0,8.0,9.0,14.0,...,1.0,8.0,1.0,23.0,0.285714,0.511111,0.400000,0.0,0.628571,1.139683
3,20150328LTKT0,20150328,롯데,KT,0,42.0,37.0,12.0,12.0,14.0,...,1.0,8.0,1.0,17.0,0.437500,0.439024,0.378378,1.0,0.810811,1.249835
4,20150328LGHT0,20150328,LG,KIA,1,34.0,29.0,1.0,1.0,7.0,...,0.0,6.0,2.0,17.0,0.200000,0.333333,0.241379,0.0,0.517241,0.850575

In [26]:
#기준모델 설정. 
baseline = df['win'].mode()
baseline

0    0.0
dtype: float64

In [62]:
train = df.query('20150101<date<20210101')
val = df.query('20210101<date<20220101')
test = df.query('date >20220101')

In [65]:
train.shape , val.shape, test.shape

((8656, 29), (1440, 29), (846, 29))