<a href="https://colab.research.google.com/github/sseyonafre/Project/blob/main/sprint2/AI_14_%E1%84%80%E1%85%A9%E1%84%89%E1%85%A6%E1%84%92%E1%85%B4_Section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *DATA SCIENCE / SECTION 2 / PROJECT*

#  üèÜ ÌîÑÎ°úÏ†ùÌä∏ Î™©Ìëú
>### kbo ÏäπÌå®ÏòàÏ∏° Î™®Îç∏ÏùÑ ÎßåÎì§Í≥† Í∑∏ Î™®Îç∏ÏùÑ ÌÜµÌï¥ÏÑú 2022ÏãúÏ¶å ÏàúÏúÑÎ•º ÏòàÏ∏°Ìï¥Î≥∏Îã§.

## ÌîÑÎ°úÏ†ùÌä∏ Í∞úÏöî
###1. Î¨∏Ï†úÏ†ïÏùò 

>2022ÎÖÑ 7Ïõî 22Ïùº ÌòÑÏû¨ ÏãúÏ¶å Ï†ÑÎ∞òÍ∏∞Í∞Ä ÎÅùÎÇúÏÉÅÌô©, Î™®Îì† ÌåÄÏùò ÏµúÏÜåÎ™©ÌëúÎäî Ìè¨Ïä§Ìä∏ÏãúÏ¶å ÏßÑÏ∂ú(5ÏúÑ)Ïù¥Îã§. 
>
>Ï†ÑÏ≤¥ Í≤ΩÍ∏∞Ïùò 60%Ï†ïÎèÑ ÏßÑÌñâÎêú ÏÉÅÌô©ÏóêÏÑú Í≤∞Í≥ºÎ•º ÏòàÏ∏°Ìï¥Î≥¥Í≥† Ïù¥ÏóêÎî∞Îùº ÌïòÎ∞òÍ∏∞ ÌåÄÏùò Ï†ÑÏ≤¥Ï†ÅÏù∏ Ïö¥Ïö© Î∞©Ìñ•Ïù¥ ÌÅ¨Í≤å Îã¨ÎùºÏßà Ïàò ÏûàÎã§.
>
>ÌòÑÏû¨ Í∞ÄÏùÑÏïºÍµ¨ÏßÑÏ∂úÏù¥ Î∂àÌà¨Î™ÖÌïú ÏÉÅÌô©. ÌôïÏã§Ìïú Í∞ÄÏùÑÏïºÍµ¨ ÏßÑÏ∂úÏùÑ ÏúÑÌï¥ÏÑú Ïö∞Î¶¨Í∞Ä Ïñ¥Îñ§ Ï†êÏùÑ Î≥¥ÏôÑÌï† Ïàò ÏûàÏùÑ ÏßÄ ÏïåÏïÑÎ≥¥Î†§ÌïúÎã§.


###2. ÌîÑÎ°úÏ†ùÌä∏Ïùò Ï†ÑÏ≤¥Ï†ÅÏù∏ ÏàúÏÑúÍ≥ÑÌöç.

> ÏãúÏ¶å ÏàúÏúÑÎ•º ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌï¥ÏÑú 'Ïó∞'(year)Îã®ÏúÑ Ï¶â, Ìï¥ÎãπÏãúÏ¶å ÌåÄÌÉÄÍ≤©Í∏∞Î°ùÏúºÎ°ú ÏàúÏúÑÎ•º ÏòàÏ∏°ÌïòÎ©¥ Ï¢ãÍ≤†ÏßÄÎßå Îç∞Ïù¥ÌÑ∞Ïùò ÌÅ¨Í∏∞Í∞Ä ÎÑàÎ¨¥ ÏûëÍ∏∞ÎïåÎ¨∏Ïóê Îß§ Í≤ΩÍ∏∞Îã®ÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï™ºÍ∞úÏÑú ÏäπÌå®Ïó¨Î∂ÄÎ•º ÌåêÎ≥ÑÌïú ÌõÑ, ÏòàÏ∏°Îêú ÏäπÌå®Î°ú Í≥ÑÏÇ∞Îêú ÏäπÎ•†ÏùÑ ÌÜ†ÎåÄÎ°ú ÏàúÏúÑ ÎèÑÏ∂ú.


###3. ÌÉÄÍ≤üÏ†ïÌïòÍ∏∞

>ÏäπÎ¶¨Ïó¨Î∂Ä (ÏäπÎ¶¨:1, Ìå®:0) -> **Î∂ÑÎ•ò**
>
>Í∏∞Ï§ÄÎ™®Îç∏ : ÌÉÄÍ≤üÏùò ÏµúÎπàÍ∞í -> 0
>
>ÏäπÎ¶¨Ïó¨Î∂ÄÏôÄ Í¥ÄÍ≥ÑÏûàÎäî ÌäπÏÑ±ÏùÄ ÏïÑÎ¨¥ÎûòÎèÑ ÌÉÄÍ≤©ÏùÄ Ïû•ÌÉÄÏú®, Ï∂úÎ£®Ïú®, Ìà¨ÏàòÎäî Î∞©Ïñ¥Ïú®

#  ‚öæÔ∏è Data Description
* `game_id` : Í≤ΩÍ∏∞ÎÇ†Ïßú + ÌôàÌåÄ+ ÏõêÏ†ïÌåÄ + ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥
* `date`: Í≤ΩÍ∏∞ÎÇ†Ïßú
* `team` : ÌåÄÏù¥Î¶Ñ
* `vs` : ÏÉÅÎåÄÌåÄ
* `home` : ÌôàÍ≤ΩÍ∏∞ Ïó¨Î∂Ä
* `PA` : ÌÉÄÏÑùÏàò
* `AB `: ÌÉÄÏàò (ÌÉÄÏÑùÏóêÏÑú Ìù¨ÏÉùÌÉÄ, Î≥ºÎÑ∑, Î™∏ÎßûÎäîÍ≥µ Îì±ÏùÑ Ï†úÏô∏)
* `RBI`: ÌÉÄÏ†ê (Run Batted In)
* `RUN` : ÎìùÏ†ê 
* `HIT `: Ï¥ù ÏïàÌÉÄÏàò
* `H2`: 2Î£®ÌÉÄ
* `H3`: 3Î£®ÌÉÄ
* `HR`: ÌôàÎü∞
* `SB`: ÎèÑÎ£®ÏÑ±Í≥µ
* `CS`: ÎèÑÎ£®Ïã§Ìå® 
* `SF`: Ìù¨ÏÉùÌîåÎùºÏù¥
* `BB` : Î≥ºÎÑ∑
* `HP `: Î™∏Ïóê ÎßûÎäî Í≥µ ( hit by pitch)
* `K `: ÏÇºÏßÑÎãπÌïú ÌöüÏàò
* `GD`: ÎçîÎ∏îÌîåÎ†àÏù¥ (Î≥ëÏÇ¥ÎãπÌïú ÌöüÏàò)
* `LOB` : ÏûîÎ£® (left on base)
* `RISP`: ÎìùÏ†êÍ∂å ÌÉÄÏú®
* `P_AB_CN `: ÎìùÏ†êÍ∂å ÏÉÅÌô©
* `P_HIT_CN `: ÎìùÏ†êÍ∂å ÏÉÅÌô©ÏóêÏÑúÏùò ÏïàÌÉÄÍ∞ØÏàò
* `OBP `: Ï∂úÎ£®Ïú® (on base rate)
* `avg` : ÌÉÄÏú® 
* `win `: ÏäπÎ¶¨

#  Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ

## **1. Gathering Data**

In [59]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 69 kB 4.7 MB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [173]:
!pip install pandas-profiling==3.1.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas-profiling==3.1.0
  Downloading pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 261 kB 5.5 MB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (1.7.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (1.3.5)
Collecting visions[type_image_path]==0.7.4
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 102 kB 5.8 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 62 kB 339 kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (1.21.6)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (3.2.2)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (1.8.2)
Collecting PyYAML>=5.0.0
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 596 kB 56.2 MB/s
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (2.0.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (0.11.2)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (0.5.1)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (4.64.0)
Collecting phik>=0.11.1
  Downloading phik-0.12.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (690 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 690 kB 63.4 MB/s
Collecting joblib~=1.0.1
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 303 kB 66.6 MB/s
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.0) (2.11.3)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3.1 MB 48.8 MB/s
Collecting multimethod>=1.4
  Downloading multimethod-1.8-py3-none-any.whl (9.8 kB)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (21.4.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 812 kB 52.6 MB/s
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.2.0->pandas-profiling==3.1.0) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.0) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2022.6.15)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (1.3.0)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=275e5c3c682f6316fbc7905b51387841c6ce5c673907edd3d7539ddca5c59d0a
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295206 sha256=314b905bdb7b046e942033164862b2de1f3c07947be08f5a9b9ef6dba409a5b7
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
Successfully built htmlmin imagehash
Installing collected packages: tangled-up-in-unicode, multimethod, visions, joblib, imagehash, requests, PyYAML, phik, htmlmin, pandas-profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed PyYAML-6.0 htmlmin-0.1.12 imagehash-4.2.1 joblib-1.0.1 multimethod-1.8 pandas-profiling-3.1.0 phik-0.12.2 requests-2.28.1 tangled-up-in-unicode-0.1.0 visions-0.7.4

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
#https://www.kaggle.com/datasets/park123/korea-baseball-datasetkbo-20152020
#Ïó¨Í∏∞ÏÑú 2015~2020ÎÖÑÍπåÏßÄÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏßëÌïú ÌõÑ
#2021,22ÎÖÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï∫êÍ∏ÄÏóê Ïò¨Î†§ÏßÑ ÍπÉÌóôÏóêÏÑú Ïó∞ÎèÑÎßå Î∞îÍøîÏÑú Ï∂îÍ∞ÄÏàòÏßë.

In [ ]:
'''
for year in [2015]:
    
    #2015~2022 Îç∞Ïù¥ÌÑ∞ ÏàòÏßë

    urls = []
    for mon in range(3,11): #3Ïõî~10Ïõî
        urls.extend(getUrlByMonth(year,mon))

    urls = sorted(urls)

    result = []
    for url in tqdm(urls):


        date = url[url.find("date=")+5:url.find("date")+15]
        source = rq.get(url)

        soup = bs(source.text,'lxml')
        tables = soup.findAll("div",{"class":"box"})
        ###ÌåÄÎ™Ö
        title1 = tables[2].find("h3",{"class":"box-title"}).text
        try:
            tn1 = title1[title1.index("(")+1:-1]
        except ValueError:
            print("Ïö∞Ï≤ú")
            continue
        title2 = tables[2].find("h3",{"class":"box-title"}).text
        tn2 = title1[title1.index("(")+1:-1]


        team1 = {}
        try:
            temp = soup.findAll("td",{"bgcolor":"white"})[0]
        except IndexError:
            print("Ïö∞Ï≤ú")
            continue

        for idx,x in enumerate(temp.findAll("b")):
            team1[x.text] = temp.contents[2::3][idx]

        team1['ÌåÄÎ™Ö'] = tn1

        team2 = {}
        temp = soup.findAll("td",{"bgcolor":"white"})[1]
        for idx,x in enumerate(temp.findAll("b")):
            team2[x.text] = temp.contents[2::3][idx]

        team2['ÌåÄÎ™Ö'] = tn1

        gujang = parse.unquote([x for x in url.split("&") if 'stadium' in x][0][8:])
        sil1=tables[6].find("table",{"width":"100%"}).contents[1].text
        sil2=tables[7].find("table",{"width":"100%"}).contents[1].text

        team1['ÎÇ†Ïßú'] =  date
        team1['Íµ¨Ïû•'] = gujang
        team1['Ïã§Ï±Ö'] = sil1

        team2['ÎÇ†Ïßú'] =  date
        team2['Íµ¨Ïû•'] = gujang
        team2['Ïã§Ï±Ö'] = sil2
        result.append([tatu(tables,0),tatu(tables,2),team1,team2])

    fin_=[]
    for r in result:

        team1 = r[0]['title'].iloc[0]
        team2 = r[0]['title'].iloc[-1]

        t1 = r[1][r[1]['Ïù¥Î¶Ñ']=='ÌåÄ Ìï©Í≥Ñ'].iloc[0]
        t2 = r[1][r[1]['Ïù¥Î¶Ñ']=='ÌåÄ Ìï©Í≥Ñ'].iloc[-1]



        dic1 = {}
        tn1 = teamN[team1]
        tn2 = teamN[team2]
        dic1['game_id'] = r[2]['ÎÇ†Ïßú'].replace('-','')
        dic1['team'] = tn1
        dic1['vs'] = tn2
        dic1['H_p'] = t1['H']
        dic1['BB_p'] = t1['BB']
        dic1['R'] = t1['R']
        dic1['ER'] = t1['ER']
        dic1['HBP_p'] = t1['HBP']
        dic1['K'] = t1['K']
        dic1['HR_p'] = t1['HR']
        dic1['GO-FO'] = t1['GO-FO']
        dic1['ERA'] = t1['ERA']
        dic1['WHIP'] = t1['WHIP']
        fin_.append(dic1)

        dic1 = {}

        dic1['game_id'] = r[2]['ÎÇ†Ïßú'].replace('-','')
        dic1['team'] = tn2
        dic1['vs'] = tn1
        dic1['H_p'] = t2['H']
        dic1['BB_p'] = t2['BB']
        dic1['R'] = t2['R']
        dic1['ER'] = t2['ER']
        dic1['HBP_p'] = t2['HBP']
        dic1['K'] = t2['K']
        dic1['HR_p'] = t2['HR']
        dic1['GO-FO'] = t2['GO-FO']
        dic1['ERA'] = t2['ERA']
        dic1['WHIP'] = t2['WHIP']
        fin_.append(dic1)



    df_ = pd.DataFrame(fin_)

    df_ = df_.drop_duplicates().to_csv(f"bb_{year}.csv",index=False) #export

## Ìà¨ÏàòÎç∞Ïù¥ÌÑ∞ ÌÅ¨Î°§ÎßÅ
'''

In [20]:
from google.colab import files
uploaded = files.upload()

Saving baseball.csv to baseball.csv

In [3]:
#n233a ÏóêÏÑú 2015ÎÖÑÎ∂ÄÌÑ∞ 2022ÎÖÑ ÍπåÏßÄ Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÎ∂Ä concatÏúºÎ°ú Ìï©Ï≥êÏÑú ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú ÎßåÎì¶.

In [62]:
from google.colab import files
uploaded = files.upload()

Saving bb_2022.csv to bb_2022.csv

In [63]:
df1 = pd.read_csv('bb_2022.csv')
df1

,G_ID,GDAY_DS,T_ID,VS_T_ID,TB_SC,R,ER,H,HR,BB,HBP,K,GO-FO,ERA,WHIP
0,20220402Î°ØÎç∞ÌÇ§ÏõÄ0,20220402,Î°ØÎç∞,ÌÇ§ÏõÄ,T,2,2,9,0,3,0,11,6-10,2.00,1.33
1,20220402Î°ØÎç∞ÌÇ§ÏõÄ0,20220402,ÌÇ§ÏõÄ,Î°ØÎç∞,T,7,3,9,0,4,0,11,11-5,3.00,1.44
2,20220402ÌïúÌôîÎëêÏÇ∞0,20220402,ÌïúÌôî,ÎëêÏÇ∞,T,6,5,9,1,3,0,4,9-10,5.63,1.50
3,20220402ÌïúÌôîÎëêÏÇ∞0,20220402,ÎëêÏÇ∞,ÌïúÌôî,T,4,4,10,0,5,0,11,8-7,4.00,1.67
4,20220402SSGNC0,20220402,SSG,NC,T,0,0,0,0,1,0,11,9-10,0.00,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,20220714KIALG0,20220714,LG,KIA,T,2,2,7,0,3,1,10,8-9,2.00,1.11
842,20220714ÎëêÏÇ∞NC0,20220714,ÎëêÏÇ∞,NC,T,3,3,9,1,1,0,2,10-14,3.00,1.11
843,20220714ÎëêÏÇ∞NC0,20220714,NC,ÎëêÏÇ∞,T,11,10,17,2,0,3,6,7-14,10.00,1.89
844,20220714ÏÇºÏÑ±KT0,20220714,ÏÇºÏÑ±,KT,T,1,1,10,0,2,0,3,10-8,1.13,1.50
845,20220714ÏÇºÏÑ±KT0,20220714,KT,ÏÇºÏÑ±,T,0,0,4,0,1,0,11,9-6,0.00,0.56

In [64]:
df1.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'TB_SC', 'R', 'ER', 'H', 'HR',
       'BB', 'HBP', 'K', 'GO-FO', 'ERA', 'WHIP'],
      dtype='object')

In [65]:
df1.drop(columns=['G_ID','VS_T_ID','TB_SC'],inplace=True)

In [66]:
df1.rename(columns ={'GDAY_DS':'date','T_ID':'team','R':'R_p','H':'H_p','HR':'HR_p','BB':'BB_p','HBP':'HBP_p','K':'K_p'},inplace=True)

In [67]:
df1['GO'] = df1['GO-FO'].str.split('-').str[0].astype(int)
df1['FO'] = df1['GO-FO'].str.split('-').str[1].astype(int)
df1['GOFO'] = df1['GO'] / df1['FO'] 
df1

,date,team,R_p,ER,H_p,HR_p,BB_p,HBP_p,K_p,GO-FO,ERA,WHIP,GO,FO,GOFO
0,20220402,Î°ØÎç∞,2,2,9,0,3,0,11,6-10,2.00,1.33,6,10,0.600000
1,20220402,ÌÇ§ÏõÄ,7,3,9,0,4,0,11,11-5,3.00,1.44,11,5,2.200000
2,20220402,ÌïúÌôî,6,5,9,1,3,0,4,9-10,5.63,1.50,9,10,0.900000
3,20220402,ÎëêÏÇ∞,4,4,10,0,5,0,11,8-7,4.00,1.67,8,7,1.142857
4,20220402,SSG,0,0,0,0,1,0,11,9-10,0.00,0.10,9,10,0.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,20220714,LG,2,2,7,0,3,1,10,8-9,2.00,1.11,8,9,0.888889
842,20220714,ÎëêÏÇ∞,3,3,9,1,1,0,2,10-14,3.00,1.11,10,14,0.714286
843,20220714,NC,11,10,17,2,0,3,6,7-14,10.00,1.89,7,14,0.500000
844,20220714,ÏÇºÏÑ±,1,1,10,0,2,0,3,10-8,1.13,1.50,10,8,1.250000
845,20220714,KT,0,0,4,0,1,0,11,9-6,0.00,0.56,9,6,1.500000

In [68]:
df1.drop(columns=['GO','FO','GO-FO'],inplace=True)

In [69]:
df1.head()

       date team  R_p  ER  H_p  HR_p  BB_p  HBP_p  K_p   ERA  WHIP      GOFO
0  20220402   Î°ØÎç∞     2   2    9     0     3      0   11  2.00  1.33  0.600000
1  20220402   ÌÇ§ÏõÄ     7   3    9     0     4      0   11  3.00  1.44  2.200000
2  20220402   ÌïúÌôî     6   5    9     1     3      0    4  5.63  1.50  0.900000
3  20220402   ÎëêÏÇ∞     4   4   10     0     5      0   11  4.00  1.67  1.142857
4  20220402  SSG     0   0    0     0     1      0   11  0.00  0.10  0.900000

## **2. Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ Î∞è Ï†ïÏ†ú**

In [37]:
df = pd.read_csv('baseball.csv',index_col=0)

In [11]:
#n233a ÏóêÏÑú Ïª¨ÎüºÏù¥Î¶ÑÎèÑ ÏàòÏ†ïÌïòÍ≥†, ÌåÄÏù¥Î¶ÑÎèÑ ÏàòÏ†ïÌïòÍ≥† ÌïÑÏöîÏóÜÎäî Ïª¨Îüº ÎìúÎûçÍπåÏßÄ ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏûÑ.

In [38]:
df.head()

,game_id,date,team,vs,home,PA,AB,RBI,RUN,HIT,...,HP,K,GD,LOB,RISP,P_AB_CN,P_HIT_CN,OBP,avg,win
0,20150328HHNE0,20150328,ÌïúÌôî,ÎÑ•ÏÑº,T,54.0,42.0,4.0,4.0,10.0,...,1.0,7.0,0.0,24.0,0.133333,15,2,0.352941,0.238095,0.0
1,20150328NEHH0,20150328,ÎÑ•ÏÑº,ÌïúÌôî,B,46.0,40.0,5.0,5.0,8.0,...,0.0,7.0,1.0,18.0,0.090909,11,1,0.304348,0.200000,1.0
2,20150328KTLT0,20150328,KT,Î°ØÎç∞,T,46.0,35.0,8.0,9.0,14.0,...,1.0,8.0,1.0,23.0,0.285714,14,4,0.511111,0.400000,0.0
3,20150328LTKT0,20150328,Î°ØÎç∞,KT,B,42.0,37.0,12.0,12.0,14.0,...,1.0,8.0,1.0,17.0,0.437500,16,7,0.439024,0.378378,1.0
4,20150328LGHT0,20150328,LG,KIA,T,34.0,29.0,1.0,1.0,7.0,...,0.0,6.0,2.0,17.0,0.200000,10,2,0.333333,0.241379,0.0

In [39]:
#train :2015~2020 ÏãúÏ¶å, test:2021 ~ 2022ÏÉÅÎ∞òÍ∏∞.
#8:2 ÎπÑÏú®Î°ú ÎÇòÎàÑÏñ¥Ï§ÄÎí§, Î™®Îç∏ÏùÑ ÍµêÏ∞®Í≤ÄÏ¶ùÏùÑ ÏãúÌñâÌïòÍ≤†Îã§.

train = df.query('20150101<date<20210101')
test = df.query('date >20210101')

In [40]:
train.shape , test.shape

((8656, 27), (2286, 27))

#Feature Engineering

In [26]:
#n233a ÏóêÏÑú game_idÎ•º ÏÉàÎ°ú ÎßåÎì¶. 
#ÏõêÎûòÎäî ÎÇ†Ïßú+ÌôàÌåÄ+ÏõêÏ†ïÌåÄ+ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥Ïó¨ÏÑú, Í∏∞ÏïÑÏôÄ ÏÇºÏÑ±Ïùò Í≤åÏûÑÏù¥Î©¥ Í∏∞ÏïÑÍ∏∞Ï§Ä row ÏôÄ ÏÇºÏÑ±Í∏∞Ï§Ärow Ïùò gameidÍ∞Ä Í∞ôÏïÑÎ≤ÑÎ¶º.
#Í∑∏ÎûòÏÑú ÎÇ†Ïßú+ÌåÄ+ÏÉÅÎåÄÌåÄ+ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥ Î°ú Î∞îÍøà.

In [35]:
from pandas_profiling import ProfileReport
profile = ProfileReport(train, minimal=True).to_notebook_iframe()

TypeError: ignored

In [41]:
pd.options.mode.chained_assignment = None  # default='warn' ,warn Î¨¥Ïãú.

def eda(df):
    """ÌäπÏÑ±ÏùÑ ÏóîÏßÄÎãàÏñ¥ÎßÅ ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§."""

    #ÏïàÌÉÄÏú®ÏùÄ 2Î£®ÌÉÄ, 3Î£®ÌÉÄ ÌôàÎü∞Ïóê ÎåÄÌïú Í∞ÄÏ§ëÏπòÍ∞Ä ÏóÜÏúºÎãàÍπå Í∞ÄÏ§ëÏπòÎ•º Ï§òÏÑú Ïû•ÌÉÄÏú®ÏùÑ ÎßåÎì§Ïûê.
    #Ï¥ù Î∞üÏùÄ Î≤†Ïù¥Ïä§ ÏàòÎ°ú Í∞ÄÏ§ëÏπòÎ•º Ï£ºÎ©¥ Îê®. Í∑∏ÎûòÏÑú hit + h2 + 2*h3 +3*hr /AB Î°ú Íµ¨Ìï®.
    df['SLG'] = (df['HIT']+ df['H2']+ df['H3']*2 + df['HR']*3) /df['AB']

    #OPS: Ï∂úÎ£®Ïú®Í≥º Ïû•ÌÉÄÏú®ÏùÑ ÎçîÌï¥Ï§å -> Í≥µÍ≤©Í∏∞Ïó¨Î•º ÌïúÎ≤àÏóê ÌôïÏù∏Ìï† Ïàò ÏûàÎäî Í∞ÄÏû• Ïú†Î™ÖÌïú ÏßÄÌëú.
    df['OPS']= df['OBP']+df['SLG']
    df['win']=df['win'].replace(0.5,0)
    df['home']=df['home'].replace({'T':1,'B':0})    #Îã§Ï§ëÎ∂ÑÎ•òÍ∞Ä ÏïÑÎãå Ïù¥ÏßÑÎ∂ÑÎ•òÎ•º ÏúÑÌï¥ Î¨¥ÏäπÎ∂ÄÎ•º Ìå®Î°ú Ï≤òÎ¶¨
    df.drop(columns=['P_AB_CN','P_HIT_CN','date'],inplace=True)
    for i in ['PA', 'AB', 'RBI', 'RUN',
       'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SF', 'BB', 'HP', 'K', 'GD', 'LOB','win']:
       df[i]= df[i].astype(int)

    return df

train = eda(train)
test = eda(test)

In [54]:
#ÌÉÄÍ≤üÏÑ§Ï†ï
target = 'win'
y_train = train[target]
y_train.value_counts(normalize=True)

0    0.50774
1    0.49226
Name: win, dtype: float64

In [55]:
#Í∏∞Ï§ÄÎ™®Îç∏ ÏÑ§Ï†ï. 
baseline = y_train.mode()
baseline

0    0
dtype: int64

In [56]:
#Í∏∞Ï§ÄÎ™®Îç∏Ïùò Ï†ïÌôïÎèÑÎ•º Íµ¨Ìï¥Î≥¥Ïûê.
from sklearn.metrics import accuracy_score
y_test = test[target]
y_pred = [baseline] * len(y_test)
print("Í∏∞Ï§ÄÎ™®Îç∏ Ï†ïÌôïÎèÑ: ", accuracy_score(y_test, y_pred))

Í∏∞Ï§ÄÎ™®Îç∏ Ï†ïÌôïÎèÑ:  0.5380577427821522

In [57]:
features = ['team', 'home','RBI',
       'HIT','SB', 'CS', 'SF', 'BB', 'HP', 'K', 'GD', 'LOB',
       'RISP', 'OBP', 'avg']
X_train = train[features]
X_test = test[features]

In [58]:
# win Í≥ºÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ ÌÅ∞ÏàúÏÑú.
df.corr().loc['win'].sort_values(ascending=False)

win         1.000000e+00
RUN         5.565067e-01
RBI         5.459815e-01
OBP         5.041908e-01
avg         4.773991e-01
P_HIT_CN    4.678397e-01
HIT         4.126494e-01
RISP        3.989473e-01
P_AB_CN     3.596969e-01
HR          2.784178e-01
PA          2.784158e-01
H2          2.679934e-01
BB          2.258511e-01
SF          1.781225e-01
SB          1.633600e-01
AB          1.505361e-01
LOB         1.159065e-01
HP          1.105958e-01
H3          1.101661e-01
CS          7.133185e-02
date        1.145626e-15
GD         -6.556499e-02
K          -1.768124e-01
Name: win, dtype: float64

In [60]:
from category_encoders import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [61]:
#Î°úÏßÄÏä§Ìã±ÌöåÍ∑ÄÎ™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ ÍµêÏ∞®Í≤ÄÏ¶ùÏùÑ ÏàòÌñâ.

pipe_lr = make_pipeline(
    OneHotEncoder(), 
    StandardScaler(),

    LogisticRegression(n_jobs=-1)
)

k = 3

scores = cross_val_score(pipe_lr, X_train, y_train, cv=k, 
                         scoring='f1')
print(f'f1 for {k} folds:', scores)
print(f'ÍµêÏ∞®Í≤ÄÏ¶ù ÌèâÍ∑†:',scores.mean())

f1 for 3 folds: [0.80013482 0.79599141 0.77145027]
ÍµêÏ∞®Í≤ÄÏ¶ù ÌèâÍ∑†: 0.789192164077639