<a href="https://colab.research.google.com/github/sseyonafre/Project/blob/main/sprint2/AI_14_%E1%84%80%E1%85%A9%E1%84%89%E1%85%A6%E1%84%92%E1%85%B4_Section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *DATA SCIENCE / SECTION 2 / PROJECT*

#  üèÜ ÌîÑÎ°úÏ†ùÌä∏ Î™©Ìëú
>### kbo ÏäπÌå®ÏòàÏ∏° Î™®Îç∏ÏùÑ ÎßåÎì§Í≥† Í∑∏ Î™®Îç∏ÏùÑ ÌÜµÌï¥ÏÑú 2022ÏãúÏ¶å ÏàúÏúÑÎ•º ÏòàÏ∏°Ìï¥Î≥∏Îã§.

## ÌîÑÎ°úÏ†ùÌä∏ Í∞úÏöî
1. Î¨∏Ï†úÏ†ïÏùò 

>2022ÎÖÑ 7Ïõî 22Ïùº ÌòÑÏû¨ ÏãúÏ¶å Ï†ÑÎ∞òÍ∏∞Í∞Ä ÎÅùÎÇúÏÉÅÌô©, Î™®Îì† ÌåÄÏùò ÏµúÏÜåÎ™©ÌëúÎäî Ìè¨Ïä§Ìä∏ÏãúÏ¶å ÏßÑÏ∂ú(5ÏúÑ)Ïù¥Îã§. 
>
>Ï†ÑÏ≤¥ Í≤ΩÍ∏∞Ïùò 60%Ï†ïÎèÑ ÏßÑÌñâÎêú ÏÉÅÌô©ÏóêÏÑú Í≤∞Í≥ºÎ•º ÏòàÏ∏°Ìï¥Î≥¥Í≥† Ïù¥ÏóêÎî∞Îùº ÌïòÎ∞òÍ∏∞ ÌåÄÏùò Ï†ÑÏ≤¥Ï†ÅÏù∏ Ïö¥Ïö© Î∞©Ìñ•Ïù¥ ÌÅ¨Í≤å Îã¨ÎùºÏßà Ïàò ÏûàÎã§.
>
>ÌòÑÏû¨ Í∞ÄÏùÑÏïºÍµ¨ÏßÑÏ∂úÏù¥ Î∂àÌà¨Î™ÖÌïú ÏÉÅÌô©. ÌôïÏã§Ìïú Í∞ÄÏùÑÏïºÍµ¨ ÏßÑÏ∂úÏùÑ ÏúÑÌï¥ÏÑú Ïö∞Î¶¨Í∞Ä Ìï¥ÏïºÌï†Í≤ÉÏù¥ Î¨¥ÏóáÏù∏ÏßÄ ÏïåÏïÑÎ≥¥Î†§ÌïúÎã§.

2. ÌîÑÎ°úÏ†ùÌä∏Ïùò Ï†ÑÏ≤¥Ï†ÅÏù∏ ÏàúÏÑúÍ≥ÑÌöç.
> ÏãúÏ¶å ÏàúÏúÑÎ•º ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌï¥ÏÑú 'Ïó∞'(year)Îã®ÏúÑ Ï¶â, Ìï¥ÎãπÏãúÏ¶å ÌåÄÌÉÄÍ≤©Í∏∞Î°ùÏúºÎ°ú ÏàúÏúÑÎ•º ÏòàÏ∏°ÌïòÎ©¥ Ï¢ãÍ≤†ÏßÄÎßå Îç∞Ïù¥ÌÑ∞Ïùò ÌÅ¨Í∏∞Í∞Ä ÎÑàÎ¨¥ ÏûëÍ∏∞ÎïåÎ¨∏Ïóê Îß§ Í≤ΩÍ∏∞Îã®ÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï™ºÍ∞úÏÑú ÏäπÌå®Ïó¨Î∂ÄÎ•º ÌåêÎ≥ÑÌïú ÌõÑ, ÏòàÏ∏°Îêú ÏäπÌå®Î°ú Í≥ÑÏÇ∞Îêú ÏäπÎ•†ÏùÑ ÌÜ†ÎåÄÎ°ú ÏàúÏúÑ ÎèÑÏ∂ú.

3. ÌÉÄÍ≤üÏ†ïÌïòÍ∏∞ 
>ÏäπÎ¶¨Ïó¨Î∂Ä (ÏäπÎ¶¨:1, Ìå®:0) -> **Î∂ÑÎ•ò**
>
>Í∏∞Ï§ÄÎ™®Îç∏ : ÌÉÄÍ≤üÏùò ÏµúÎπàÍ∞í -> 0
>
>ÏäπÎ¶¨Ïó¨Î∂ÄÏôÄ Í¥ÄÍ≥ÑÏûàÎäî ÌäπÏÑ±ÏùÄ ÏïÑÎ¨¥ÎûòÎèÑ ÌÉÄÍ≤©ÏùÄ Ïû•ÌÉÄÏú®, Ï∂úÎ£®Ïú®, Ìà¨ÏàòÎäî Î∞©Ïñ¥Ïú®

#  ‚öæÔ∏è Data Description
* `game_id` : Í≤ΩÍ∏∞ÎÇ†Ïßú + ÌôàÌåÄ+ ÏõêÏ†ïÌåÄ + ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥
* `date`: Í≤ΩÍ∏∞ÎÇ†Ïßú
* `team` : ÌåÄÏù¥Î¶Ñ
* `vs` : ÏÉÅÎåÄÌåÄ
* `home` : ÌôàÍ≤ΩÍ∏∞ Ïó¨Î∂Ä
* `PA` : ÌÉÄÏÑùÏàò
* `AB `: ÌÉÄÏàò (ÌÉÄÏÑùÏóêÏÑú Ìù¨ÏÉùÌÉÄ, Î≥ºÎÑ∑, Î™∏ÎßûÎäîÍ≥µ Îì±ÏùÑ Ï†úÏô∏)
* `RBI`: ÌÉÄÏ†ê (Run Batted In)
* `RUN` : ÎìùÏ†ê 
* `HIT `: Ï¥ù ÏïàÌÉÄÏàò
* `H2`: 2Î£®ÌÉÄ
* `H3`: 3Î£®ÌÉÄ
* `HR`: ÌôàÎü∞
* `SB`: ÎèÑÎ£®ÏÑ±Í≥µ
* `CS`: ÎèÑÎ£®Ïã§Ìå® 
* `SF`: Ìù¨ÏÉùÌîåÎùºÏù¥
* `BB` : Î≥ºÎÑ∑
* `HP `: Î™∏Ïóê ÎßûÎäî Í≥µ ( hit by pitch)
* `K `: ÏÇºÏßÑÎãπÌïú ÌöüÏàò
* `GD`: ÎçîÎ∏îÌîåÎ†àÏù¥ (Î≥ëÏÇ¥ÎãπÌïú ÌöüÏàò)
* `LOB` : ÏûîÎ£® (left on base)
* `RISP`: ÎìùÏ†êÍ∂å ÌÉÄÏú®
* `P_AB_CN `: ÎìùÏ†êÍ∂å ÏÉÅÌô©
* `P_HIT_CN `: ÎìùÏ†êÍ∂å ÏÉÅÌô©ÏóêÏÑúÏùò ÏïàÌÉÄÍ∞ØÏàò
* `OBP `: Ï∂úÎ£®Ïú® (on base rate)
* `avg` : ÌÉÄÏú® 
* `win `: ÏäπÎ¶¨

#  Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ

## **1. Gathering Data**

In [1]:
#https://www.kaggle.com/datasets/park123/korea-baseball-datasetkbo-20152020
#Ïó¨Í∏∞ÏÑú 2015~2020ÎÖÑÍπåÏßÄÏùò Îç∞Ïù¥ÌÑ∞ ÏàòÏßëÌïú ÌõÑ
#2021,22ÎÖÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï∫êÍ∏ÄÏóê Ïò¨Î†§ÏßÑ ÍπÉÌóôÏóêÏÑú Ïó∞ÎèÑÎßå Î∞îÍøîÏÑú Ï∂îÍ∞ÄÏàòÏßë.

In [4]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving baseball.csv to baseball (1).csv

In [3]:
#n233a ÏóêÏÑú 2015ÎÖÑÎ∂ÄÌÑ∞ 2022ÎÖÑ ÍπåÏßÄ Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÎ∂Ä concatÏúºÎ°ú Ìï©Ï≥êÏÑú ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú ÎßåÎì¶.

## **2. Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ Î∞è Ï†ïÏ†ú**

In [5]:
df = pd.read_csv('baseball.csv',index_col=0)
df.head()

,game_id,date,team,vs,home,PA,AB,RBI,RUN,HIT,...,HP,K,GD,LOB,RISP,P_AB_CN,P_HIT_CN,OBP,avg,win
0,20150328HHNE0,20150328,ÌïúÌôî,ÎÑ•ÏÑº,T,54.0,42.0,4.0,4.0,10.0,...,1.0,7.0,0.0,24.0,0.133333,15,2,0.352941,0.238095,0.0
1,20150328NEHH0,20150328,ÎÑ•ÏÑº,ÌïúÌôî,B,46.0,40.0,5.0,5.0,8.0,...,0.0,7.0,1.0,18.0,0.090909,11,1,0.304348,0.200000,1.0
2,20150328KTLT0,20150328,KT,Î°ØÎç∞,T,46.0,35.0,8.0,9.0,14.0,...,1.0,8.0,1.0,23.0,0.285714,14,4,0.511111,0.400000,0.0
3,20150328LTKT0,20150328,Î°ØÎç∞,KT,B,42.0,37.0,12.0,12.0,14.0,...,1.0,8.0,1.0,17.0,0.437500,16,7,0.439024,0.378378,1.0
4,20150328LGHT0,20150328,LG,KIA,T,34.0,29.0,1.0,1.0,7.0,...,0.0,6.0,2.0,17.0,0.200000,10,2,0.333333,0.241379,0.0

In [6]:
df.columns

Index(['game_id', 'date', 'team', 'vs', 'home', 'PA', 'AB', 'RBI', 'RUN',
       'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SF', 'BB', 'HP', 'K', 'GD', 'LOB',
       'RISP', 'P_AB_CN', 'P_HIT_CN', 'OBP', 'avg', 'win'],
      dtype='object')

In [6]:
#n233a ÏóêÏÑú Ïª¨ÎüºÏù¥Î¶ÑÎèÑ ÏàòÏ†ïÌïòÍ≥†, ÌåÄÏù¥Î¶ÑÎèÑ ÏàòÏ†ïÌïòÍ≥† ÌïÑÏöîÏóÜÎäî Ïª¨Îüº ÎìúÎûçÍπåÏßÄ ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏûÑ.

#Feature Engineering

In [7]:
#n233a ÏóêÏÑú game_idÎ•º ÏÉàÎ°ú ÎßåÎì¶. 
#ÏõêÎûòÎäî ÎÇ†Ïßú+ÌôàÌåÄ+ÏõêÏ†ïÌåÄ+ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥Ïó¨ÏÑú, Í∏∞ÏïÑÏôÄ ÏÇºÏÑ±Ïùò Í≤åÏûÑÏù¥Î©¥ Í∏∞ÏïÑÍ∏∞Ï§Ä row ÏôÄ ÏÇºÏÑ±Í∏∞Ï§Ärow Ïùò gameidÍ∞Ä Í∞ôÏïÑÎ≤ÑÎ¶º.
#Í∑∏ÎûòÏÑú ÎÇ†Ïßú+ÌåÄ+ÏÉÅÎåÄÌåÄ+ÎçîÎ∏îÌó§ÎçîÏú†Î¨¥ Î°ú Î∞îÍøà.

In [80]:
def eda_process(df):
    #ÏïàÌÉÄÏú®ÏùÄ 2Î£®ÌÉÄ, 3Î£®ÌÉÄ ÌôàÎü∞Ïóê ÎåÄÌïú Í∞ÄÏ§ëÏπòÍ∞Ä ÏóÜÏúºÎãàÍπå Í∞ÄÏ§ëÏπòÎ•º Ï§òÏÑú Ïû•ÌÉÄÏú®ÏùÑ ÎßåÎì§Ïûê.
    #Ï¥ù Î∞üÏùÄ Î≤†Ïù¥Ïä§ ÏàòÎ°ú Í∞ÄÏ§ëÏπòÎ•º Ï£ºÎ©¥ Îê®. Í∑∏ÎûòÏÑú hit + h2 + 2*h3 +3*hr /AB Î°ú Íµ¨Ìï®.
    df['SLG'] = (df['HIT']+ df['H2']+ df['H3']*2 + df['HR']*3) /df['AB']
    #OPS: Ï∂úÎ£®Ïú®Í≥º Ïû•ÌÉÄÏú®ÏùÑ ÎçîÌï¥Ï§å -> Í≥µÍ≤©Í∏∞Ïó¨Î•º ÌïúÎ≤àÏóê ÌôïÏù∏Ìï† Ïàò ÏûàÎäî Í∞ÄÏû• Ïú†Î™ÖÌïú ÏßÄÌëú.
    df['OPS']= df['OBP']+df['SLG']
    df['win']=df['win'].replace(0.5,0)
    df['home']=df['home'].replace({'T':1,'B':0})    #Î¨¥ÏäπÎ∂ÄÎ•º Ìå®Î°ú Ï≤òÎ¶¨
    df.drop(columns=['P_AB_CN','P_HIT_CN','date'],inplace=True)
    return df

In [78]:
df = eda_process(df)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10942 entries, 0 to 10941
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   game_id   10942 non-null  object
 1   date      10942 non-null  int64
 2   team      10942 non-null  object
 3   vs        10942 non-null  object
 4   home      10942 non-null  object
 5   PA        10942 non-null  float64
 6   AB        10942 non-null  float64
 7   RBI       10942 non-null  float64
 8   RUN       10942 non-null  float64
 9   HIT       10942 non-null  float64
 10  H2        10942 non-null  int64
 11  H3        10942 non-null  int64
 12  HR        10942 non-null  float64
 13  SB        10942 non-null  int64
 14  CS        10942 non-null  int64
 15  SF        10942 non-null  int64
 16  BB        10942 non-null  float64
 17  HP        10942 non-null  float64
 18  K         10942 non-null  float64
 19  GD        10942 non-null  float64
 20  LOB       10942 non-null  float64
 21  RISP      10942 non-null  float64
 22  P_AB_CN   10942 non-null  int64
 23  P_HIT_CN  10942 non-null  int64
 24  OBP       10942 non-null  float64
 25  avg       10942 non-null  float64
 26  win       10942 non-null  float64
dtypes: float64(15), int64(8), object(4)
memory usage: 2.3+ MB

In [79]:
df.head()

,game_id,date,team,vs,home,PA,AB,RBI,RUN,HIT,...,HP,K,GD,LOB,RISP,OBP,avg,win,SLG,OPS
0,20150328HHNE0,20150328,ÌïúÌôî,ÎÑ•ÏÑº,1,54.0,42.0,4.0,4.0,10.0,...,1.0,7.0,0.0,24.0,0.133333,0.352941,0.238095,0.0,0.333333,0.686275
1,20150328NEHH0,20150328,ÎÑ•ÏÑº,ÌïúÌôî,0,46.0,40.0,5.0,5.0,8.0,...,0.0,7.0,1.0,18.0,0.090909,0.304348,0.200000,1.0,0.450000,0.754348
2,20150328KTLT0,20150328,KT,Î°ØÎç∞,1,46.0,35.0,8.0,9.0,14.0,...,1.0,8.0,1.0,23.0,0.285714,0.511111,0.400000,0.0,0.628571,1.139683
3,20150328LTKT0,20150328,Î°ØÎç∞,KT,0,42.0,37.0,12.0,12.0,14.0,...,1.0,8.0,1.0,17.0,0.437500,0.439024,0.378378,1.0,0.810811,1.249835
4,20150328LGHT0,20150328,LG,KIA,1,34.0,29.0,1.0,1.0,7.0,...,0.0,6.0,2.0,17.0,0.200000,0.333333,0.241379,0.0,0.517241,0.850575

In [26]:
#Í∏∞Ï§ÄÎ™®Îç∏ ÏÑ§Ï†ï. 
baseline = df['win'].mode()
baseline

0    0.0
dtype: float64

In [62]:
train = df.query('20150101<date<20210101')
val = df.query('20210101<date<20220101')
test = df.query('date >20220101')

In [65]:
train.shape , val.shape, test.shape

((8656, 29), (1440, 29), (846, 29))